.head{
    font-size: calc(5vh + 2vmin);
    display: flex;
    justify-content: center;
    margin: 1vw;
}
.text{
    font-size: calc(1.2vw + 2vmin);
    text-align: left;
    justify-content: left;
    margin: 10px;
    margin: 5%;
}
.Home {
    background-color: #051420;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1.2vw + 2vmin);
    color: white;
  }
.Text-tabs{
    display: flex;
    justify-content: center;
    color:"white";
    margin:20;
    font-size:30;
    font-family:'RobotoMono-VariableFont_wght'
}